<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.orderMapper">
    <select id="list" resultType="com.example.demo.pojo.Order">
        select uname,num,uorder.price,state,pname,otime from uorder,product
            <where>
        <if test="state!=null">
            state=#{state}
        </if>
         and
        uorder.username=#{username}
        and
        product.pid=(select pid from uorder where username=#{username})
            </where>
    </select>
    <select id="list1" resultType="com.example.demo.pojo.Order">
        select uname,num,uorder.price,state,pname,otime from uorder,product
        <where>
            uorder.username=#{username}
            and
            product.pid=(select pid from uorder where username=#{username})
        </where>
    </select>
</mapper>